@page
@{
    ViewBag.Title = "Home Page";

}


@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DuchTreat: @ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>*@


    <div>
        <img src="~/img/VanGogh.jpg" />
        <h3>Mug</h3>
        <ul id="productProps">
            <li>Price: 9,99$</li>
            <li>Artist: Van Gogh</li>
            <li>Title:</li>
            <li>Description: Self-poltrait</li>

        </ul>

        <button id="buyButton">Buy</button>
    </div>

    <form id="theForm">
        <lable>UserName:</lable>
        <br />

        <input />
        <br />
        <lable>Email:</lable>
        <br />

        <input type="email" />
        <br />
        <lable>Subject:</lable>
        <br />

        <input type="text" />
        <br />
        <lable>Message:</lable>
        <br />

        <textarea rows="4">
            </textarea>
        <br />
        <input type="submit" value="Send Message" />

    </form>

    <div>
        <div id="logginToggle">Toggle</div>
        <form>
            <label>Username</label>
            <input />
            <label>Password</label>
            <input type="password" />
            <input type="checkbox" />
            <label>Remember me?</label>

            <div>
                <input type="submit" value="Login" />
            </div>

        </form>
    </div>

    @*<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>*@

